@font-face {
  font-family: "Yekanbakh";
  src: url("/fonts/Yekanbakh/woff2/Yekanbakh-Light.woff2") format("woff2"),
    url("/fonts/Yekanbakh/woff/Yekanbakh-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekanbakh";
  src: url("/fonts/Yekanbakh/woff2/Yekanbakh-Regular.woff2") format("woff2"),
    url("/fonts/Yekanbakh/woff/Yekanbakh-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekanbakh";
  src: url("/fonts/Yekanbakh/woff2/Yekanbakh-Medium.woff2") format("woff2"),
    url("/fonts/Yekanbakh/woff/Yekanbakh-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekanbakh";
  src: url("/fonts/Yekanbakh/woff2/Yekanbakh-SemiBold.woff2") format("woff2"),
    url("/fonts/Yekanbakh/woff/Yekanbakh-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekanbakh";
  src: url("/fonts/Yekanbakh/woff2/Yekanbakh-Bold.woff2") format("woff2"),
    url("/fonts/Yekanbakh/woff/Yekanbakh-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekanbakh";
  src: url("/fonts/Yekanbakh/woff2/Yekanbakh-Heavy.woff2") format("woff2"),
    url("/fonts/Yekanbakh/woff/Yekanbakh-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
